<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
    <form [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field mt-1">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" placeholder="Enter your username">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter your email" type="email">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" placeholder="Enter your first name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" placeholder="Enter your last name">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Avatar</mat-label>
            <input matInput formControlName="avatar" placeholder="Enter avatar URL">
        </mat-form-field>

        <div class="actions">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!editProfileForm.valid">Save</button>
        </div>
    </form>
</mat-dialog-content>
