.create-quest-container {
    max-width: 800px;
    margin: auto;
    background-color: #121212;
    color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

mat-form-field {
    display: block;
}

button {
    min-width: 100px;
}
