<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content>
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="form-field mt-1">
            <mat-label>Current Password</mat-label>
            <input matInput formControlName="currentPassword" type="password" placeholder="Enter current password">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" type="password" placeholder="Enter new password">
        </mat-form-field>

        <mat-form-field appearance="outline" class="form-field">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm new password">
        </mat-form-field>

        <div class="actions">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!passwordForm.valid">Save</button>
        </div>
    </form>
</mat-dialog-content>
