.tabs {
    margin-bottom: 20px;
}

.mat-table {
    width: 100%;
    background-color: #121212;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.mat-header-cell,
.mat-cell {
    padding: 10px;
    border-bottom: 1px solid #444;
}

.mat-header-cell {
    font-weight: bold;
}

.user-cell {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* Table skeleton rows */
.mat-row:nth-child(even) .skeleton {
    background: linear-gradient(90deg, #202020 25%, #303030 50%, #202020 75%);
}
